numpy<1.25
scipy
matplotlib
git+https://github.com/SheffieldML/GPy.git#egg=GPy
#./SheffieldML-GPy-e91799a
scikit-learn
scikit-image
# PyQt6
PyQT5
paramz
six
#torch
#gpytorch
sympy
setuptools
./mayavi
