numpy
numba
scipy
matplotlib
scikit-learn
PyQT5
--find-links https://download.pytorch.org/whl/cpu
torch
setuptools
git+https://github.com/enthought/mayavi.git@8ae6e5cc4e95607541da210070066e79f2de3e7e#egg=mayavi
vtk==9.2.*
